* {
  padding: 0px;
  margin: 0px;
}
.main-menu {
  padding: 0px;
  margin: 0px;
  background: #72a4ca;
}

.main-menu>ul {
  display: flex;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  min-width: 1024px;
  max-width: 1280px;
  list-style: none;
}

.main-menu li a {
  display: block;
  padding: 15px 30px;
  color: #fff;
  text-decoration: none;
  text-align: center;
  background: linear-gradient(to right, #75b5e6, #5799db);
}
.main-menu li a:hover{
  background: rgba(157, 169, 182, 0.8);

}
.main-menu>ul li {
  position: relative;
  flex-grow: 1;
}

.main-menu li .sub-menu {
  display: block;
  list-style: none;
  position: absolute;
  width: 100%;
  background: linear-gradient(to right, #75b5e6, #5799db);
}

.main-menu li:hover .sub-menu {
  display: block;
}
.main-menu li .sub-menu-2 {
  display: block;
  list-style: none;
  position: absolute;
  top: -48px;
  right: -178px;
}
.sub-menu li:hover .sub-menu-2 {
  display: block;
}